<!doctype html>
<html>

<head>
    <title>PMS - User Signup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <link href="{{url_for('static',filename='fontawesome/css/all.css')}}" rel="stylesheet">
    
</head>

<!-- <body class="" style="background-image: url('utycc.jpg'); background-repeat: no-repeat; background-position: center; background-size: cover; background-attachment: fixed; background-origin: padding-box"> -->
<body class="" style="background-color: #f0f0f9">    
    <div class="container-fluid">
        <div class="row justify-content-center p-0">
            <div class="col-md-4 col-sm-12 p-5 justify-content-center">

                <div class="d-flex flex-column p-3 bg-white rounded border border-seconary">
                    <div class="h5 p-2 d-flex flex-row">
                        <div class="bg-primary d-flex flex-column justify-content-center align-items-center" style="width: 32px; height: 32px; border-radius: 16px">
                            <a href="/loginUser"><i class="text-white fa fa-arrow-left"></i></a>
                        </div>
                    </div>
                    <div class="h5 p-2">
                        Create new user account
                    </div>
                    <form action="/signupUser" method="POST">
                        <div class="p-2 text-danger"><small>{{ errorText }}</small></div>
                        <div class="d-flex flex-column p-2">
                            <label class="text-dark">Email</label>
                            <input type="email" name="email" placeholder="Enter email" class="form-control" value="{{email}}" required/>
                        </div>
                        <div class="d-flex flex-column p-2">
                            <label class="text-dark">Name</label>
                            <input type="text" name="name" placeholder="Enter your name" class="form-control" value="{{name}}" required/>
                        </div>
                        <div class="d-flex flex-column p-2">
                            <label class="text-dark">Roll Number</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">6IST-</div>
                                </div>
                                <input type="text" name="rollNumber" placeholder="Enter roll number" class="form-control" value="{{rollNumber}}" required/>
                            </div>
                        </div>
                        <div class="d-flex flex-column p-2">
                            <label class="text-dark">Password</label>
                            <input type="password" name="password" placeholder="Enter password" class="form-control" required/>
                        </div>
                        <div class="d-flex flex-column p-2">
                            <button class="btn btn-primary">Sign up</button>
                        </div>
                    </form>
                    <div class="d-flex flex-row p-2 text-secondary justify-content-center">
                        Already have account? &nbsp; <a href="/loginUser">Sign in</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>

</html>